.backgroundImage{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./travel-guru-master/Image/Rectangle\ 1.png);
    background-size: cover;
    background-repeat: none;
    background-position: center;
    height: 50rem;
  }
  