.backgroundStyle{
    color: black;
    padding: 15px;
    background-color: #F2F2F2;
    border-radius: 10px;
}
.inputStyle{
    border-style: none;
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 10px;
    width: 202px;
}
.iconStyle{
    margin-top: 10px;
    width: 20px;
}
.button{
    border-style: none;
    background-color: #F9A51A;
    margin: 0 auto;
    width: 100%;
    padding: 13px;
    border-radius: 10px;
}
.buttonStyle{
    margin: 0 auto !important;
    width: 93%; 
    border-radius: 10px;
    background-color: #F9A51A;
}
.card {
    cursor: auto;
}